[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
seaborn = "*"
tiktoken = "*"
langchain = "*"

[dev-packages]

[requires]
python_version = "3.10"
